@media (max-width: 992px) {
    .Navbar {
        margin-top: 1vh;
    }
    .Navbar li {
        display: flex;
        background: lightpink;
        align-items: center;
        height: 5vh;
        margin-bottom: .7vh;
        padding-left: 3vw;
    }
    .Navbar a li {
        color: white;
        text-transform: uppercase;
        font-size: 1.2rem;
    }
    .Navbar a li:hover {
        background: rgb(245, 111, 131);
    }
    .Navbar a:hover {
        text-decoration: none;
    }
    .Navbar-icon:focus, .Navbar-icon:active {
        outline: none;
        box-shadow: none;
    }
}